@charset "UTF-8";
.box {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@font-face {
  font-family: "roboto";
  src: url(police/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "roboto-medium";
  src: url(police/Roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: "shrikhand";
  src: url(police/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "roboto-light";
  src: url(police/Roboto/Roboto-Light.ttf);
}
body {
  max-width: 450px;
  margin: auto;
  font-family: "roboto";
}
@media (min-width: 451px) {
  body {
    max-width: 960px;
    width: 95%;
  }
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.header .header__logo {
  width: 180px;
}
@media (min-width: 451px) {
  .header {
    max-width: 960px;
    justify-content: left;
    margin-left: 25px;
  }
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}

footer {
  background: #383838;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 960px;
}
footer .footer__logo {
  justify-content: left;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
footer .footer__logo--blanc {
  width: 30%;
  filter: invert(100%);
}
footer ul {
  list-style-type: none;
  margin-bottom: 40px;
  padding-left: 30px;
}
footer li {
  margin-bottom: 10px;
}
footer .footer__liens a {
  text-decoration: none;
  color: white;
}
footer i.fas.fa-utensils {
  margin-right: 10px;
}
footer i.fas.fa-hands-helping {
  margin-right: 8px;
  font-size: 75%;
}

.menu__form {
  background-color: #f2f2f2;
  padding: 15px 0px 15px 80px;
  border-left: 1px #fafafa double;
  border-right: 1px #fafafa double;
  box-shadow: inset 0px 3px 2px #d5d5d5;
  width: 100%;
}
.menu__form .menu__form__ville {
  background-color: #f2f2f2;
  border-width: 0px;
  opacity: 75%;
  font-weight: bold;
}
.menu__form i.fas.fa-map-marker-alt {
  opacity: 75%;
  padding-right: 15px;
}
@media (min-width: 451px) {
  .menu__form {
    max-width: 960px;
    padding-left: 40px;
  }
}

.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #fafafa;
}
.menu p {
  font-family: "roboto-light";
  opacity: 70%;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 110%;
}
.menu h1 {
  margin-top: 30px;
  margin-bottom: 0px;
  font-family: "roboto-medium";
  font-weight: bold;
  font-size: 1.6em;
}
@media (min-width: 451px) {
  .menu {
    max-width: 960px;
    text-align: left;
    align-items: flex-start;
  }
  .menu p {
    margin-left: 40px;
  }
  .menu h1 {
    margin-left: 40px;
  }
  .menu br {
    display: none;
  }
}

.header-resto {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.header-resto .header-resto__logo {
  max-width: 180px;
  width: 100%;
}
.header-resto i.fas.fa-arrow-left {
  font-size: 140%;
  color: black;
  position: absolute;
  left: 25px;
  margin: 2px;
}
@media (min-width: 451px) {
  .header-resto {
    max-width: 960px;
    justify-content: left;
  }
  .header-resto i.fas.fa-arrow-left {
    position: static;
    margin-right: 25px;
  }
}

.fonctionnement h2 {
  font-family: "roboto-medium";
  margin-left: 20px;
  margin-top: 50px;
}

.fonctionnement__étape ol {
  counter-reset: fonctionnement;
}
.fonctionnement__étape ol li {
  list-style-type: none;
  counter-increment: fonctionnement;
  margin: 25px 25px 25px 0;
  height: 70px;
  background: #fafafa;
  border-radius: 25px;
  box-shadow: 3px 5px 5px 5px #f2f2f2;
  display: flex;
  align-items: center;
  font-family: "roboto-medium";
}
.fonctionnement__étape ol li:before {
  content: counter(fonctionnement);
  background: #9356dc;
  color: white;
  border-radius: 40px;
  margin-right: 25px;
  padding: 7px 10px 3px 10px;
  margin-left: -15px;
}
.fonctionnement__étape ol i.fas.fa-mobile-alt {
  font-size: 120%;
  color: gray;
  padding-right: 25px;
}
.fonctionnement__étape ol i.fas.fa-list-ul {
  font-size: 120%;
  color: gray;
  padding-right: 25px;
}
.fonctionnement__étape ol i.fas.fa-store {
  font-size: 120%;
  color: gray;
  padding-right: 25px;
}
.fonctionnement__étape ol li:hover {
  background-color: rgba(146, 86, 220, 0.1);
}
.fonctionnement__étape ol li:hover i.fas.fa-mobile-alt {
  color: #9356dc;
}
.fonctionnement__étape ol li:hover i.fas.fa-list-ul {
  color: #9356dc;
}
.fonctionnement__étape ol li:hover i.fas.fa-store {
  color: #9356dc;
}

@media (min-width: 451px) {
  .fonctionnement__étape {
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
  }
  .fonctionnement__étape ol {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
  .fonctionnement__étape ol li {
    width: max-content;
    padding-right: 30px;
    margin-top: 10px;
  }
}
.restaurant {
  background: #fafafa;
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 60px;
}
.restaurant h2 {
  font-family: "roboto-medium";
  margin-left: 20px;
  margin-bottom: 15px;
}
@media (min-width: 900px) {
  .restaurant {
    max-width: 960px;
  }
}

.restaurant__ensemble-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurant__ensemble-cards .restaurant__cards {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 250px;
  background: white;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  text-decoration: none;
  box-shadow: 3px 5px 5px 5px #f2f2f2;
  position: relative;
}
.restaurant__ensemble-cards .restaurant__cards .restaurant__photo {
  object-fit: cover;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}
.restaurant__ensemble-cards .restaurant__cards .restaurant__photo__commentaire {
  color: #179b76;
  background: #99e2d0;
  width: fit-content;
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 2px;
}
.restaurant__ensemble-cards .restaurant__cards .restaurant__photo__commentaire p {
  font-size: 90%;
  margin: 5px 10px 5px 10px;
  font-family: "roboto-medium";
}
.restaurant__ensemble-cards .restaurant__cards .restaurant__commentaire {
  height: 75px;
  display: flex;
  justify-content: space-between;
  color: black;
}
.restaurant__ensemble-cards .restaurant__cards .restaurant__commentaire .restaurant__texte h3 {
  margin-bottom: 3px;
  margin-left: 15px;
  font-family: "roboto-medium";
  margin-top: 15px;
}
.restaurant__ensemble-cards .restaurant__cards .restaurant__commentaire .restaurant__texte p {
  margin-top: 1px;
  margin-left: 15px;
  font-family: "roboto-light";
}
@media (min-width: 900px) {
  .restaurant__ensemble-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .restaurant__ensemble-cards .restaurant__cards {
    width: 46%;
    margin: 10px;
  }
}

.resto {
  max-width: 960px;
  display: flex;
  flex-direction: column;
  background: #fafafa;
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
}
.resto .resto__nom {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.resto h1 {
  font-family: "shrikhand";
  font-size: 1.8em;
  margin-left: 20px;
}
.resto .resto__entrées {
  margin-left: 15px;
  margin-right: 15px;
}
.resto .resto__plats {
  margin-left: 15px;
  margin-right: 15px;
}
.resto .resto__desserts {
  margin-left: 15px;
  margin-right: 15px;
}
.resto h2 {
  font-family: "roboto-light";
  opacity: 70%;
  font-size: 1em;
  padding-bottom: 5px;
  border-bottom: #99e2d0 4px solid;
  width: 45px;
}
.resto .choix__info {
  text-decoration: none;
  color: black;
  width: 100%;
  border: none;
  text-align: left;
  padding: 0;
  transform-origin: top;
  background: white;
  border-radius: 20px;
  box-shadow: 3px 5px 5px 5px #f2f2f2;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.resto .choix__info h3 {
  margin: 10px 0 10px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.resto .choix__text-info {
  width: 100%;
  padding-right: 20px;
  overflow: hidden;
}
.resto .choix__détail {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 10px;
}
.resto .choix__détail p {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.resto .choix__détail .choix__prix {
  font-family: "roboto-medium";
  font-weight: bold;
  overflow: initial;
}
@media (min-width: 451px) {
  .resto {
    max-width: 960px;
  }
  .resto .choix {
    display: flex;
    flex-wrap: wrap;
  }
  .resto .choix__info {
    width: 100%;
    margin-right: 15px;
  }
}
@media (min-width: 960px) {
  .resto {
    max-width: 960px;
  }
  .resto .choix {
    display: flex;
    flex-wrap: wrap;
  }
  .resto .choix__info {
    width: 48%;
    margin-right: 15px;
  }
}

.menu__explorer {
  color: white;
  background-color: #ff79da;
  height: 50px;
  border-radius: 25px;
  width: min-content;
  padding: 0 25px 0 25px;
  margin-bottom: 60px;
  box-shadow: 5px 5px 5px #d5d5d5, inset -10px -10px 40px #9356dc;
  border: none;
}
@media (min-width: 451px) {
  .menu__explorer {
    margin-left: 40px;
  }
}

.menu__explorer:hover {
  opacity: 0.95;
  box-shadow: 5px 5px 5px #b6b6b6, inset -10px -10px 40px #9356dc;
}

.resto__commande {
  color: white;
  background-color: #ff79da;
  height: 50px;
  border-radius: 25px;
  width: 40%;
  min-width: min-content;
  padding: 0 25px 0 25px;
  margin-top: 40px;
  margin-bottom: 80px;
  box-shadow: 5px 5px 5px #d5d5d5, inset -10px -10px 40px #9356dc;
  align-self: center;
  border: none;
}
.resto__commande:hover {
  opacity: 0.95;
  box-shadow: 5px 5px 5px #b6b6b6, inset -10px -10px 40px #9356dc;
}

.photo-resto {
  max-width: 960px;
  height: 260px;
  object-fit: cover;
  overflow: hidden;
}

.choix__valider {
  display: flex;
  background: #99e2d0;
  border-radius: 0 20px 20px 0;
  align-items: center;
  justify-content: center;
  width: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 400ms;
}

i.fas.fa-check-circle {
  font-size: 150%;
  color: white;
}

.choix__info:focus .choix__valider {
  width: 20%;
  transform: scaleX(1);
  transition: all 400ms;
}
.choix__info:focus i.fas.fa-check-circle {
  animation: anim-circle 300ms ease-in-out;
}

@media (min-width: 900px) {
  .choix__info:focus .choix__valider {
    width: 0%;
    transform: scaleX(0);
    transition: all 0ms;
  }

  .choix__info:hover .choix__valider {
    width: 20%;
    transform: scaleX(1);
    transition: all 400ms;
  }
  .choix__info:hover i.fas.fa-check-circle {
    animation: anim-circle 300ms ease-in-out;
  }
}
@keyframes anim-circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes apparition-plat {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
.resto__entrées .choix__info {
  animation: apparition-plat 500ms;
}

.resto__plats .choix__info {
  animation: apparition-plat 1000ms;
}

.resto__desserts .choix__info {
  animation: apparition-plat 1500ms;
}

.restaurant__coeur {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.restaurant__coeur i.far.fa-heart {
  font-size: 160%;
  display: flex;
  align-self: center;
}
.restaurant__coeur i.fas.fa-heart {
  font-size: 0%;
  display: flex;
  align-self: center;
}

.restaurant__coeur:active i.fas.fa-heart {
  font-size: 160%;
  color: #9356dc;
  transform-origin: bottom;
  animation: restaurant__bouton 300ms both;
}
.restaurant__coeur:active i.far.fa-heart {
  font-size: 0%;
}

@media (min-width: 900px) {
  .restaurant__coeur:hover i.fas.fa-heart {
    font-size: 160%;
    color: #9356dc;
    transform-origin: bottom;
    animation: restaurant__bouton 300ms both;
  }
  .restaurant__coeur:hover i.far.fa-heart {
    font-size: 0%;
  }
}
@keyframes restaurant__bouton {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
.load {
  margin: auto;
  position: relative;
  animation: display-load 2000ms both;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: auto;
}

#loader-1:before,
#loader-1:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: #9356dc;
}

#loader-1:before {
  z-index: 100;
  animation: spin 1000ms infinite;
}

#loader-1:after {
  border: 10px solid #ff79da;
}

.contenu {
  animation: display-contenu 2000ms;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes display-load {
  0% {
    visibility: visible;
    width: 100%;
    height: 500px;
    opacity: 1;
  }
  99% {
    visibility: visible;
    width: 100%;
    height: 500px;
    opacity: 0.9;
  }
  100% {
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
  }
}
@keyframes display-contenu {
  0% {
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
  }
  98% {
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
  }
  99% {
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }
  100% {
    visibility: visible;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}
.resto__coeur i.far.fa-heart {
  font-size: 180%;
  padding-top: 20px;
  padding-right: 30px;
  opacity: 75%;
  color: black;
}
.resto__coeur i.fas.fa-heart {
  font-size: 0%;
}

.resto__coeur:focus i.fas.fa-heart {
  font-size: 180%;
  padding-top: 20px;
  padding-right: 30px;
  color: #9356dc;
  transform-origin: bottom;
  transform: scaleY(0.5);
  animation: bouton-coeur-resto 300ms both;
}
.resto__coeur:focus i.far.fa-heart {
  font-size: 0%;
  padding: 0%;
}

@media (min-width: 900px) {
  .resto__coeur:hover i.fas.fa-heart {
    font-size: 180%;
    margin-top: 20px;
    margin-right: 30px;
    color: #9356dc;
    transform-origin: bottom;
    transform: scaleY(0.5);
    animation: bouton-coeur-resto 300ms both;
  }
  .resto__coeur:hover i.far.fa-heart {
    font-size: 0%;
  }
}
@keyframes bouton-coeur-resto {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

/*# sourceMappingURL=fichiercss.css.map */
