.header {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  .header__logo {
    width: 180px;
  }
  @media (min-width: 451px) {
    max-width: 960px;
    justify-content: left;
    margin-left: 25px;
  }
  
}
