.restaurant {
  background: $couleur-menu;
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 60px;
  h2 {
    font-family: "roboto-medium";
    margin-left: 20px;
    margin-bottom: 15px;
  }
  @media (min-width: 900px) {
    max-width: 960px;
  }
}
.restaurant__ensemble-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  .restaurant__cards {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 250px;
    background: white;
    border-radius: 20px;
    margin: 10px 0 10px 0;
    text-decoration: none;
    box-shadow: 3px 5px 5px 5px $couleur-form;
    position: relative;
    .restaurant__photo {
      object-fit: cover;
      overflow: hidden;
      border-radius: 20px 20px 0 0;
    }
    .restaurant__photo__commentaire {
      color: #179b76;
      background: $couleur-tertiaire;
      width: fit-content;
      position: absolute;
      right: 15px;
      top: 15px;
      border-radius: 2px;
      p {
        font-size: 90%;
        margin: 5px 10px 5px 10px;
        font-family: "roboto-medium";
      }
    }
    .restaurant__commentaire {
      height: 75px;
      display: flex;
      justify-content: space-between;
      color: black;
      .restaurant__texte h3 {
        margin-bottom: 3px;
        margin-left: 15px;
        font-family: "roboto-medium";
        margin-top: 15px;
      }
      .restaurant__texte p {
        margin-top: 1px;
        margin-left: 15px;
        font-family: "roboto-light";
      }
    }
  }
  @media (min-width: 900px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .restaurant__cards {
      width: 46%;
      margin: 10px;
    }
  }
}
