@font-face /* police texte */ {
  font-family: "roboto";
  src: url(police/Roboto/Roboto-Regular.ttf);
}
@font-face /* police texte */ {
  font-family: "roboto-medium";
  src: url(police/Roboto/Roboto-Medium.ttf);
}
@font-face /* police logo et titre */ {
  font-family: "shrikhand";
  src: url(police/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face /* police texte */ {
  font-family: "roboto-light";
  src: url(police/Roboto/Roboto-Light.ttf);
}
