@font-face /* police texte */ {
  font-family: "roboto";
  src: url(police/Roboto/Roboto-regular.ttf);
}
@font-face /* police texte */ {
  font-family: "roboto-medium";
  src: url(police/Roboto/Roboto-medium.ttf);
}
@font-face /* police logo et titre */ {
  font-family: "shrikhand";
  src: url(police/Shrikhand/Shrikhand-Regular.ttf);
}
