.restaurant__coeur {
  display: flex;
  align-items: center;
  margin-right: 20px;
  
  i.far.fa-heart {
    font-size: 160%;
    display: flex;
    align-self: center;
  }
  i.fas.fa-heart {
    font-size: 0%;
    display: flex;
    align-self: center;
  }
}
.restaurant__coeur:active {
  i.fas.fa-heart {
    font-size: 160%;
    color: $couleur-primaire;
    transform-origin: bottom;
    animation: restaurant__bouton 300ms both;
  }
  i.far.fa-heart {
    font-size: 0%;
  }
}
@media (min-width: 900px) {
  .restaurant__coeur:hover {
    i.fas.fa-heart {
      font-size: 160%;
      color: $couleur-primaire;
      transform-origin: bottom;
      animation: restaurant__bouton 300ms both;
    }
    i.far.fa-heart {
      font-size: 0%;
    }
  }
}
@keyframes restaurant__bouton {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
